.list-group-item.active {
    background-color:#648767;
}

.header {
    padding-left: 5%;
}

#documentation-container {
    padding-left: 5%;
    padding-right: 5%;
}

.list-group {
    position: fixed;
}
