@import "generalSiteStyles.css";

#content-block {
    margin-left: 5%;
    margin-right: 12% !important;
}

.list-group-item.active {
    background-color: var(--custom-green);
    border-color: var(--custom-green);
}

.card-header {
    background-color: var(--primary-button-color);
}

#custom-btn-one,
#custom-btn-two,
#custom-btn-three,
#custom-btn-four {
    color: white;
}

#collapseOne,
#collapseTwo,
#collapseThree,
#collapseFour {
    color: var(--custom-black);
}

#accordion .link:hover {
    color: var(--custom-black);
}

thead {
    background-color: var(--custom-green);
}
