/* This files contains custom colors and styles we chose for our website's design. */

/* Define variables for our custom color palette */
:root {
    --custom-black: #32292F;
    --custom-cream: #faf3dd;
    --custom-brown: #A3693F;
    --custom-green: #648767;
    --custom-pink: #CFA5B4;
    --custom-dark-cream: #F3E3B1;

    /* change the colors here to change these colors of the whole site */
    --primary-background-color: var(--custom-cream) ;
    --primary-text-color: var(--custom-black);
}

.black-background {
    background-color: var(--custom-black);
}

.pink-background {
    background-color: var(--custom-pink);
}

.brown-background {
    background-color: var(--custom-brown);
}

.dark-cream-background {
    background-color: var(--custom-dark-cream);
}

.cream-background {
    background-color: var(--custom-cream);
}

.green-background {
    background-color: var(--custom-green);
}

/* HTML tag styles */
body {
    font-size: 16px;
    font-family: "Montserrat";
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

form {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

.left {
    float: left;
}

.right {
    float: left;
}

.spacer
{
    width: 100%;
    height: 95px;
}

#myTabContent {
    margin-top: 10px;
}

.submit-button {
    margin-top: 10px;
}

/* Jumbotron  and footer styles are minimal,
so put them here rather than dedicated css files */
.jumbotron {
    background-color: var(--primary-background-color);
}

#main-footer {
    background-color: var(--primary-background-color) !important;
}
