.borehole-container.inactive{
    position:absolute;
}

.btn.info-btn {
    background-color: var(--custom-black);
    color: var(--custom-cream);
    padding:0px;
}

.borehole-map-content {
    display:none;
    text-align:center;
}
