.borehole-container.inactive{
    position:absolute;
}

.btn.info-btn {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    padding:0px;
}

.borehole-map-content {
    display:none;
    text-align:center;
}
