.navbar .navbar-nav .nav-link,
.navbar-brand {
    color: var(--primary-text-color);
    font-size: 25px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar-brand:hover {
    color: var(--secondary-text-color);
    font-size: 25px;
}

#main-navbar {
    background-color: var(--primary-background-color);
}
