@import "generalSiteStyles.css";

.daterangepicker {
    color: black!important;
}

.available {
    color: black!important;
}

.month {
    color: black!important;
}

tr {
    color: black!important;
}
