@import "generalSiteStyles.css";

.list-group-item.active {
    background-color: var(--custom-green);
}

.header {
    padding-left: 5%;
}

#documentation-container {
    padding-left: 5%;
    padding-right: 5%;
}

.list-group {
    position: fixed;
}

.card-header {
    background-color: var(--primary-button-color);
}
