/* This files contains custom colors and styles we chose for our website's design. */

/* Define variables for our custom color palette */
:root {
    --custom-black: #32292F;
    --custom-cream: #faf3dd;
    --custom-brown: #A3693F;
    --custom-green: #648767;
    --custom-pink: #CFA5B4;
    --custom-dark-cream: #F3E3B1;
}

body {
    font-size: 16px;
    font-family: "Montserrat";
    color: var(--custom-black);
    background-color: var(--custom-cream);
}

.black-background {
    background-color: var(--custom-black);
}

.pink-background {
    background-color: var(--custom-pink);
}

.brown-background {
    background-color: var(--custom-brown);
}

.dark-cream-background {
    background-color: var(--custom-dark-cream);
}

.cream-background {
    background-color: var(--custom-cream);
}

.green-background {
    background-color: var(--custom-green);
}
