/* This files contains custom colors and styles for the website.

In particular, changing --primary-background-color and --primary-text-color
will change those respective attributes for the entire site.
*/

/* Custom color palette ---------------------------------------------------- */
:root {
    --custom-black: #32292F;
    --custom-cream: #faf3dd;
    --custom-brown: #A3693F;
    --custom-green: #648767;
    --custom-light-green:#8dab90;
    --custom-pink: #CFA5B4;
    --custom-dark-cream: #F3E3B1;

    /* change the colors here to change these colors of the whole site */
    /* background colors */
    --primary-background-color: var(--custom-black);

    /* text colors */
    --primary-text-color: var(--custom-cream);
    --secondary-text-color: var(--custom-dark-cream); /* text color on hover */

    /* button colors */
    --primary-button-color: var(--custom-green);
    --secondary-button-color: var(--custom-light-green);

    /* link colors */
    --primary-link-color: #17a2b8;
    --secondary-link-color: #36cee6;
}

.black-background {
    background-color: var(--custom-black);
}

.pink-background {
    background-color: var(--custom-pink);
}

.brown-background {
    background-color: var(--custom-brown);
}

.dark-cream-background {
    background-color: var(--custom-dark-cream);
}

.cream-background {
    background-color: var(--custom-cream);
}

.green-background {
    background-color: var(--custom-green);
}

/* HTML tag styles --------------------------------------------------------- */
body {
    font-size: 16px;
    font-family: "Montserrat";
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

form {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

/* Override-able blocks defined in base.html ------------------------------- */
#content-block {
    margin-left: 5%;
    margin-right: 5%;
}

#page-header {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

/* links ------------------------------------------------------------------- */
.link, .btn-link {
    color: var(--primary-link-color);
}

.link:hover, .btn-link:hover {
    color: var(--secondary-link-color);
}

/* Buttons ----------------------------------------------------------------- */
.btn {
    color: white;
    background-color: var(--primary-button-color);
}

.btn:hover {
    background-color: var(--secondary-button-color);
}

/* Jumbotron --------------------------------------------------------------- */
.jumbotron {
    background-color: var(--primary-background-color);
    padding: 1rem 2rem;
}

.my-4 {
    background-color: var(--custom-cream);
}

/* Other classes ----------------------------------------------------------- */

.left {
    float: left;
}

.right {
    float: left;
}

.spacer
{
    width: 100%;
    height: 95px;
}

.submit-button {
    margin-top: 10px;
}

/* left align all download buttons of queries with the graph */
.viewer {
    position: relative;
}

/* make some space for the warning messages */
.alert {
    margin-top: 10px;
    margin-bottom: 0px;
}
