#switch {
  display: none;
}

.switch-btn {
  width: 70px;
  height: 40px;
  background-color: var(--custom-light-pink);
  border: 4px solid var(--custom-dark-cream);
  border-radius: 30px;
  padding: 6px;
  padding-top:1px;
  padding-left:2px;
  padding-right:2px;
}

#mode-label {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f9;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translate(-11px, 19px) rotate(120deg);
  user-select: none;
  color: #17193F;
}

input[type="checkbox"]:checked ~ .switch-btn {
  border: 4px solid var(--custom-dark-black);
  background-color: var(--primary-button-color);
}

input[type="checkbox"]:checked ~ .switch-btn label {
  transform: translateX(30px);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

input[type="checkbox"]:checked ~ .switch-btn label .icons {
  transform: translateX(-20px);
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
