#custom-query-container {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
}

#table-header {
    background-color: var(--custom-pink);
    color: white;
}

.error-message {
    word-wrap: break-word;
    max-width: 1130px;
}
