/* This files contains custom colors and styles we choose for our website's design. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #32292F;
  }

.black-coffee-background {
    background-color: #32292F;
}

.pink-lavendar-background {
    background-color: #CFA5B4;
}

.windsor-tan-background {
    background-color: #99582A;
}

.cream-background {
    background-color: #FFFDD0;
}

.russian-green-background {
    background-color: #648767;
}
