/* This files contains custom colors and styles we choose for our website's design. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
  }

.dark-green-background {
    background-color: #3A473B;
}

.light-green-background {
    background-color: #839784;
}

.grey-background {
    background-color: #E6E9EE;
}

.pink-grey-background {
    background-color: #F0E6E7;
}

.brown-background {
    background-color: #DFC397;
}
