/* This files contains custom colors and styles we choose for our website's design. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #32292F;
  }

.black-background {
    background-color: #32292F;
}

.pink-background {
    background-color: #CFA5B4;
}

.brown-background {
    background-color: #A3693F;
}

.dark-cream-background {
    background-color: #F3E3B1;
}

.cream-background {
    background-color: #faf3dd;
}

.green-background {
    background-color: #648767;
}
