{% extends 'dashboard/base.html' %}

<title>About</title>

{% block content %}
        <h1>About Us</h1>
            <p>We are the 2022-23 Geothermal Comps Team, advised by Prof. Amy Csizmar Dalal. Our task was to build an interface that interacts with and displays the geothermal data for the broader Carleton community. To learn more about the background of the project, visit <a href="https://www.cs.carleton.edu/cs_comps/2223/geo/index.php">this page</a> on the computer science department website. </p>
        <h2>About the Geothermal Wells</h2>
        <p>Carleton's Geothermal Well system is part of <a href="https://www.carleton.edu/geothermal/">Carleton's utility master plan</a>, which includes a goal of being carbon-free in 2050. The data on this website pertains to the geothermal well system that was spearheaded by the Carleton Aquifer Research Lab (CARL). The Geothermal system at Carleton consists of three interconnected borefields. These are
            located on the Bald Spot, the Mini-Bald Spot, and Bell Field. The Bald Spot is the largest system
            and it has 134 vertical boreholes that each run about 525 feet deep. The Mini-Bald Spot has 77
            vertical boreholes, each of which is about 520 feet deep. Bell Field has 47 “double-stacked”
            horizontal boreholes, each of which is about 510 feet long. All three of these systems (Bald Spot, Mini-Bald Spot, Bell Field) converge in the East Energy Station, located in the basement of Anderson Hall.
            Fiber-optic cables were installed in 5 of the 134 boreholes on the Bald Spot, and the data collected by these cables is what is stored
            in the database maintained by Bruce Duffy. Every 30 minutes, data from each of the 5 boreholes is collected. </p>
{% endblock %}
