{% extends 'dashboard/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'documentation.css' %}">

{% block header %}
    <h1>Documentation</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-faq">FAQ</a>
        <a class="list-group-item list-group-item-action" href="#list-data-summary">Data Summary</a>
        <a class="list-group-item list-group-item-action" href="#list-advanced-api">Advanced API Use</a>
      </div>
    </div>

    <div class="col-9">
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <h4 id="list-faq">FAQ</h4>
        <p>
          <strong><li>What kinds of queries can I make?</li></strong>
          <em>You can query the temperature of one or multiple boreholes with respect to depth over a period of time.</em>  <br> You can customize this range of time, or choose the most recent 7 days, 30 days, or year's worth of data.
          You can adjust the time point of the temperature collection to be at midnight, noon, or select a daily average.
          You can also specify the density of the measurements intervals along the boreholes to your preference.
          <strong><li>Why are certain time ranges in the calendar grayed out?</li></strong>
          <em>Time ranges that fall within a data outage cannot be queried.</em> <br> Try selecting a new custom date range instead, or choose the most recent available data range.
              To learn more about data outages, please visit the Data Outages section in the Data Summary tab.
          <strong><li>Why is there a gap in my graph?</li></strong>
          <em>Invalid data will not appear in query visualizations.</em> <br> If you selected a time range that included a data outage, this will be reflected in the visualization that is generated.
              The gap in the graph represents the period of time over which a data outage spanned. For more information, lease visit the Data Outages section in the Data Summary tab.
              <strong><li>Where does this data come from?</li></strong>
              <em>The data you are querying originates from the 5 borehole loops in the Bald Spot that are equipped with fiber optic cables.</em> <br>
                  For a more in-depth overview of the data pipeline, visit the <a href="{% url 'about' %}">about page</a>.
        </p>
        <h4 id="list-data-summary">Data Summary</h4>
        <p>
          Data outages  were an important consideration for this project. We have aired on the conservative side in terms of defining outages.
          Any period of time that produced either a lack of data or unreliable data has been deemed an outage, and the measurements from that interval of time will not be displayed.
          See below for a full table of known outages as of January 2023.
        </p>
        <h4 id="list-advanced-api">Advanced API Use</h4>
        <p>
          The Geothermal Data API supports making more advanced queries, including direct PostGreSQL queries.
          For more information on advanced API use, <a href="https://github.com/acdalal/geothermal">visit our repository on GitHub</a>.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
