<footer class="bg-info text-center text-lg-start fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Summary</h5>

            <p>
                Welcome to the Carleton Geothermal Dashboard! This project was created by the Computer Science Geothermal
                Comps Team in 2022-23 to enable Carleton community members to access the College's geothermal database.
            </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Dashboard</a>
            </li>
            <li>
              <a href="#!" class="text-dark">About</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Documentation</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Carleton Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Home</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Geothermal</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
