{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="bg-info text-center text-lg-start" id="main-footer">
    <hr id="footer-line">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Dashboard Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'index' %}">Dashboard</a>
            </li>
            <li>
              <a href="{% url 'about' %}">About</a>
            </li>
            <li>
              <a href="{% url 'documentation' %}">Documentation</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Carleton Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.carleton.edu/">Home</a>
            </li>
            <li>
              <a href="https://www.carleton.edu/geothermal/">Utility Master Plan</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Advanced Tools</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://github.com/acdalal/geothermal">Source Code</a>
            </li>
            <li>
              <a href="{% url 'customquery' %}">Custom Query</a>
            </li>
          </ul>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright
    <div class="text-center p-3 cream-background">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    Copyright -->
</footer>
