{% load static %}
<link rel="stylesheet" href="{% static 'css/generalSiteStyles.css' %}">

<!-- Included inline styling to override navbar's !important-flaged background color CSS -->
<footer class="bg-info text-center text-lg-start" style="background-color:#faf3dd!important;">
    <hr>
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Dashboard Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'index' %}" class="text-dark">Dashboard</a>
            </li>
            <li>
              <a href="{% url 'about' %}" class="text-dark">About</a>
            </li>
            <li>
              <a href="{% url 'documentation' %}" class="text-dark">Documentation</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Carleton Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.carleton.edu/" class="text-dark">Home</a>
            </li>
            <li>
              <a href="https://www.carleton.edu/geothermal/" class="text-dark">Utility Master Plan</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col">
          <h5 class="text-uppercase">Advanced Tools</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://github.com/acdalal/geothermal" class="text-dark">Source Code</a>
            </li>
            <li>
              <a href="{% url 'customquery' %}" class="text-dark">Custom Query</a>
            </li>
          </ul>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright
    <div class="text-center p-3 cream-background">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    Copyright -->
</footer>
