{% load static %}
<link rel="stylesheet" href="{% static 'css/generalSiteStyles.css' %}">
<script src="{% static 'js/selectTab.js' %}"></script>


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#" onclick="selectTab('TemperatureProfile')">Temperature Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#" onclick="selectTab('TempOverTime')">TempVsTime</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#" onclick="selectTab('TempOverDepth')">TempVsDepth</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="form-container tab-pane fade show active" id="TemperatureProfile">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% csrf_token %}
                {{ temperatureProfileForm }}
            </div>
        </div>
    </div>

    <div class="form-container tab-pane fade" id="TempOverTime">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% csrf_token %}
                {{ tempOverTimeForm }}
            </div>
        </div>
    </div>

    <div class="form-container tab-pane fade" id="TempOverDepth">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% csrf_token %}
                {{ tempOverDepthForm }}
            </div>
        </div>
    </div>

    <input type="submit" value="Submit" />

</div>


<script>
    var outageList = {{ outageList | safe }}
    var dataStartDate = {{ dataStartDate | safe}}
    var dataEndDate = {{ dataEndDate | safe}}
</script>

{% load static %}
<script src="{% static 'js/dateRangePicker.js' %}"></script>

{% if queryData %}
<script>
    var queryData = {{ queryData | safe }}
    var graphData = {{ graphData | safe }}
</script>
{% endif %}
