{% load static %}

<div class="form-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
    <form action="" method="post">
        {# Django requires this token statement #}
        {% csrf_token %}

        {{ form.as_p }}
        <script type="text/javascript">
            $(function() {
                var disabledRanges = [];
                {% for range in outageList %}
                    disabledRanges.push({ start: '{{ range.startDate }}', end: '{{ range.endDate }}' });
                {% endfor %}
                $('#id_timestamp').daterangepicker({
                    singleDatePicker: true,
                    minDate: "{{ dataStartDate }}",
                    maxDate: "{{ dataEndDate }}",
                    isInvalidDate: function(date) {
                        for (var i = 0; i < disabledRanges.length; i++) {
                            if (date >= moment(disabledRanges[i].start) && date <= moment(disabledRanges[i].end)) {
                                return true;
                            }
                        }
                        return false;
                    },

                });
            });
        </script>

        <div class="form-group">
            <label for="boreholeCheckbox">Select borehole&#40;s&#41; to be displayed</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Default checkbox
              </label>
            </div>
          </div>

        {% comment %} <div class="form-group">
            <label for="dropdown">Select measurement density</label>
            <select class="form-control" id="dropdown">
            <option>1 measurement per day</option>
            <option>1 measurement per week</option>
            <option>1 measurement per month</option>
            </select>
        </div> {% endcomment %}
        <div class="form-group">
            <label for="measurementTimePointDropdown">Select measurement time point</label>
            <select class="form-control" id="dropdown">
            <option>at midnight</option>
            <option>at noon</option>
            <option>daily average</option>
            </select>
        </div>
        <div class="form-group">
            <label for="dateRange">Select date range</label>
            <input type="text" class="form-control" id="text">
        </div>
        {% comment %} <div class="form-group">
            <label for="number">Enter a number</label>
            <input type="number" class="form-control" id="number">
        </div> {% endcomment %}
        <input type="submit" value="Submit" class="btn btn-secondary"/>

    </form>
</div>
</div>
</div>
