{% extends 'dashboard/base.html' %}

{% block content %}

    {% include 'dashboard/jumbotron.html' %}

    {% load static %}

    <script>
        var outageList = {{ outageList | safe }}
        var dataStartDate = "{{ dataStartDate }}"
        var dataEndDate = "{{ dataEndDate }}"


    {% if queryData %}
        var queryData = {{ queryData | safe }}
        var graphData = {{ graphData | safe }}
    {% endif %}
    </script>

<div class="col-md-6 mx-auto">
    <ul class="nav nav-tabs justify-content-around" id="myTab">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#" id="tempprofile-button" onclick="selectTab('tempprofile')">Temperature Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" id="tempvstime-button" onclick="selectTab('tempvstime')">Temperature Vs Time</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" id="tempvsdepth-button" onclick="selectTab('tempvsdepth')">Temperature Vs Depth</a>
        </li>
    </ul>
    <script src="{% static 'js/utils/selectTab.js' %}"></script>

    <div class="tab-content" id="myTabContent">
        <div class="form-container tab-pane fade show active" id="tempprofile">
            <div class="row justify-content-around">
                <div class="col-md-8 offset-md-2">
                    <form action="/" method="post">
                        {% csrf_token %}
                        <div class="left">
                            {{ temperatureProfileForm.boreholeNumber.label }}
                            {{ temperatureProfileForm.boreholeNumber }}

                            {{ temperatureProfileForm.temperatureProfileDateRange.label }}
                            {{ temperatureProfileForm.temperatureProfileDateRange }}

                            {{ temperatureProfileForm.temperatureProfileTimeSelector.label }}
                            {{ temperatureProfileForm.temperatureProfileTimeSelector }}
                        </div>
                        <div class="right">
                            {{ temperatureProfileForm.tempProfileUnits.label }}
                            {{ temperatureProfileForm.tempProfileUnits }}
                        </div>
                        <input class="btn btn-secondary form-control submit-button" type="submit" value="Submit" name="temperature-profile"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="form-container tab-pane fade" id="tempvstime">
            <div class="row justify-content-around">
                <div class="col-md-8 offset-md-2">
                    <form action="/" method="post">
                        {% csrf_token %}

                        <div class="left">
                            {{ tempOverTimeForm.boreholeNumber.label }}
                            {{ tempOverTimeForm.boreholeNumber }}

                            {{ tempOverTimeForm.tempVsTimeDateRange.label }}
                            {{ tempOverTimeForm.tempVsTimeDateRange }}

                            {{ tempOverTimeForm.tempVsTimeDepth.label }}
                            {{ tempOverTimeForm.tempVsTimeDepth }}
                        </div>
                        <div class="right">
                            {{ tempOverTimeForm.tempVsTimeUnits.label }}
                            {{ tempOverTimeForm.tempVsTimeUnits }}
                        </div>
                        <input class="btn btn-secondary form-control submit-button" type="submit" value="Submit" name="temperature-time"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="form-container tab-pane fade" id="tempvsdepth">
            <div class="row justify-content-around">
                <div class="col-md-8 offset-md-2">
                    <form action="/" method="post">
                        {% csrf_token %}

                        <div class="left">
                            {{ tempOverDepthForm.boreholeNumber.label }}
                            {{ tempOverDepthForm.boreholeNumber }}

                            {{ tempOverDepthForm.tempVsDepthTimestamp.label }}
                            {{ tempOverDepthForm.tempVsDepthTimestamp }}
                        </div>
                        <div class="right">
                            {{ tempOverDepthForm.tempVsDepthUnits.label }}
                            {{ tempOverDepthForm.tempVsDepthUnits}}
                        </div>
                        <input class="btn btn-secondary form-control submit-button" type="submit" value="Submit" name="temperature-depth"/>
                    </form>
                </div>
            </div>
        </div>


    </div>

</div>
    <link rel="stylesheet" href="{% static 'css/customdaterangepicker.css' %}">
    <script src="{% static 'js/utils/dateRangePicker.js' %}"></script>

    {% if type %}
        <script>$("#{{ type }}-button").click()</script>
    {% endif %}

    {% if type == "tempprofile" %}
        {% include 'dashboard/tempprofile.html' %}
    {% endif %}

    {% if type == "tempvstime" %}
        {% include 'dashboard/tempvstime.html' %}
    {% endif %}

    {% if type == "tempvsdepth" %}
        {% include 'dashboard/tempvsdepth.html' %}
    {% endif %}




{% endblock %}
