<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Carleton Geothermal Data</title>

    </head>
    <body>
        <div>Welcome to the fully finalized Carleton Geothermal Data Dashboard</div>
        <button type="button" onclick="window.location.href='tempvstime'">Temperature VS Time</button>
        <button type="button" onclick="window.location.href='tempvsdepth'">Temperature VS Depth</button>

    </body>
</html>
