{% extends 'dashboard/base.html' %}

{% block content %}

    {% include 'dashboard/jumbotron.html' %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">


    <script>
        var outageList = {{ outageList | safe }}
        var dataStartDate = "{{ dataStartDate }}"
        var dataEndDate = "{{ dataEndDate }}"


    {% if queryData %}
        var queryData = {{ queryData | safe }}
        var graphData = {{ graphData | safe }}
        var units = {{ units }}
    {% endif %}
    </script>

<div class="col-md-7 mx-auto">

    {# Toggle-able tabs for each query #}
    <ul class="nav nav-tabs justify-content-around" id="myTab">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#" id="tempprofile-button" onclick="selectTab('tempprofile')">Temperature Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" id="tempvstime-button" onclick="selectTab('tempvstime')">Temperature vs. Time</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#" id="tempvsdepth-button" onclick="selectTab('tempvsdepth')">Temperature vs. Depth</a>
        </li>
    </ul>
    <script src="{% static 'js/utils/selectTab.js' %}"></script>
    <script src="{% static 'js/utils/formCache.js' %}"></script>

    {# Content inside the given tab #}
    <div class="tab-content" id="myTabContent">
        <div class="form-container tab-pane fade show active" id="tempprofile">

            {# Header and information about the query #}
            <div class="row justify-content-around" id="form-information">
                <h1>Temperature Profile</h1>
                <p>
                    Temperature profile plots display the temperature at different depths in a geothermal
                    borehole over time, where the Y-axis represents the depth of the borehole, and the X-axis shows the
                    temperature values at that depth.
                </p>

                <details>
                    <summary>more info</summary>
                        <div class="centered-left-list-parent">
                            <ul class="centered-left-list">
                                <li>Each line represents either a single day or week, depending on the range of time you've specified.</li>
                                <li>
                                    Querying time periods with outages may generate visualizations with unexpected contours.
                                    Check the <a class="link" href="{% url 'documentation' %}"><u>Documentation page</u></a>to see if you've queried an outage.
                                </li>
                                <li>Queries that span large time ranges will take longer to run. Please be patient!</li>
                            </ul>
                        </div>
                </details>
            </div>

            {# Temp profile form #}
            <div class="row justify-content-around">
                <div class="col-md-8" >
                    <form action="/" method="post" id="tempprofileform">
                        {% include 'dashboard/boreholemap.html' %}
                        {% csrf_token %}
                        {{ temperatureProfileForm }}
                        <input class="btn btn-secondary form-control submit-button" type="submit" value="Submit" name="temperature-profile"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="form-container tab-pane fade" id="tempvstime">
            {# Header and information about the query #}
            <div class="row justify-content-around" id="form-information">
                <h1>Temperature vs. Time</h1>
                <p>
                    Temperature vs. time plots display the temperature readings at a specific depth in a geothermal borehole
                    over a specified period of time. The Y-axis represents temperature and the X-axis represents the dates
                    in the given date range.
                </p>

                <details>
                    <summary>more info</summary>
                        <div class="centered-left-list-parent">
                            <ul class="centered-left-list">
                                <li>Depths in the database do not have clean integer values, so your specified depth may snap to the nearest recorded depth.</li>
                                <li>
                                    Querying time periods with outages may generate visualizations with unexpected contours.
                                    Check the <a class="link" href="{% url 'documentation' %}"><u>Documentation page</u></a> to see if you've queried an outage.
                                </li>
                                <li>Queries that span large time ranges will take longer to run. Please be patient!</li>
                            </ul>
                        </div>
                </details>
            </div>

            {# Temp vs time form #}
            <div class="row justify-content-around">
                <div class="col-md-8">
                    <form action="/" method="post" id="tempvstimeform">
                        {% include 'dashboard/boreholemap.html' %}
                        {% csrf_token %}
                        {{ tempOverTimeForm }}
                        <input class="btn btn-secondary form-control submit-button" type="submit" value="Submit" name="temperature-time"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="form-container tab-pane fade" id="tempvsdepth">
            {# Header and information about the query #}
            <div class="row justify-content-around" id="form-information">
                <h1>Temperature vs. Depth</h1>
                <p>
                    Temperature vs. depth plots display the temperature distribution throughout the entire depth
                    of a geothermal borehole for a single specified date. The Y-axis represents temperature and the
                    X-axis represents the depth of the borehole.
                </p>

                <details>
                    <summary>more info</summary>
                        <div class="centered-left-list-parent">
                            <ul class="centered-left-list">
                                <li>Each line represents either a single day or week, depending on the range of time you've specified.</li>
                                <li>
                                    Querying time periods with outages may generate visualizations with unexpected contours.
                                    Check the <a class="link" href="{% url 'documentation' %}"><u>Documentation page</u></a> to see if you've queried an outage.
                                </li>
                                <li>Queries that span large time ranges will take longer to run. Please be patient!</li>
                            </ul>
                        </div>
                </details>
            </div>

            {# Temp vs depth form #}
            <div class="row justify-content-around">
                <div class="col-md-8">
                    <form action="/" method="post" id="tempvsdepthform">
                        {% include 'dashboard/boreholemap.html' %}
                        {% csrf_token %}
                        {{ tempOverDepthForm }}
                        <input class="btn btn-secondary form-control submit-button" type="submit" value="Submit" name="temperature-depth"/>
                    </form>
                </div>
            </div>
        </div>
        {# end tab content #}
    </div>
</div>

    <link rel="stylesheet" href="{% static 'css/customdaterangepicker.css' %}">
    <script src="{% static 'js/utils/dateRangePicker.js' %}"></script>

    {% if type %}
        <script>$("#{{ type }}-button").click()</script>
    {% endif %}

    {% if type == "tempprofile" %}
        {% include 'dashboard/tempprofile.html' %}
    {% endif %}

    {% if type == "tempvstime" %}
        {% include 'dashboard/tempvstime.html' %}
    {% endif %}

    {% if type == "tempvsdepth" %}
        {% include 'dashboard/tempvsdepth.html' %}
    {% endif %}

{% endblock %}
