{% extends 'dashboard/base.html' %}

{% block css %}
    {{ block.super }}

    <!--daterangepicker package files-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <!--daterangepicker package files-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

{% endblock %}

{% block content %}
    <h1>Stratigraphy</h1>
    <button type="button" onclick="window.location.href='/'">Home</button>

    {% if queryData %}
    <details>
        <summary>See Data</summary>
            <div>
                {% for row in queryData %}
                    <div>{{ row }}</div>
                {% endfor %}
            </div>
    </details>


    <script src="{ %static 'createCsv.js' %}"></script>

    <button onclick="downloadData('stratigraphy')">Download data</button>
    <button id="downloadImage" onclick="window.downloadGraphImage('stratigraphy')">Download graph</button>


    {% load static %}

    <script src="{% static 'tempVsDepthGraph.js' %}" type="module"></script>
    <script>
        var queryData = {{ queryData | safe }};
        var graphData = {{ graphData | safe }};
        var groupBy = {{ groupBy | safe }}
    </script>
    <div class="container">
        <canvas id="ctx"></canvas>
    </div>

    {% endif %}


    <form action="/stratigraphy/" method="post">
        <br>
        {% csrf_token %}
        {{ form }}
        {# This script enables the fancy datetime picker #}

        <script type="text/javascript">
            $(function() {
                var disabledRanges = [];
                {% for range in outageList %}
                    disabledRanges.push({ start: '{{ range.startDate }}', end: '{{ range.endDate }}' });
                {% endfor %}
                $('#id_dateRange').daterangepicker({
                    isInvalidDate: function(date) {
                        for (var i = 0; i < disabledRanges.length; i++) {
                            if (date >= moment(disabledRanges[i].start) && date <= moment(disabledRanges[i].end)) {
                                return true;
                            }
                        }
                        return false;
                    },
                    minDate: "{{ dataStartDate }}",
                    maxDate: "{{ dataEndDate }}",
                    ranges: {
                    'Last 7 Available Days': [moment("{{ dataEndDate }}").subtract(6, 'days'), moment()],
                    'Last 30 Available Days': [moment("{{ dataEndDate }}").subtract(29, 'days'), moment()],
                    'Last 3 Available Months': [moment("{{ dataEndDate }}").subtract(3, 'months'), moment()],
                    'Last Available Year': [moment("{{ dataEndDate }}").subtract(1, 'years'), moment()]
                    },

                });
                });

                $('#id_timeSelector').daterangepicker({
                    timePicker: true,
                    singleDatePicker: true,
                    timePickerIncrement: 1,
                    timePickerSeconds: false,
                    locale: {
                        format: 'hh:mm A'
                    }
                }).on('show.daterangepicker', function (ev, picker) {
                    picker.container.find(".calendar-table").hide();
                });
        </script>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>

{% endblock %}
