<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>



<div>

    {% load static %}

    <script src="{% static 'js/utils/createCsv.js' %}"></script>

    <button onclick="downloadData('tempvstime')">Download data</button>
    <button id="downloadImage" onclick="window.downloadGraphImage('tempvstime')">Download graph</button>


    <div class="container">
        <canvas id="ctx"></canvas>
    </div>

    <script src="{% static 'js/graphs/tempVsTimeGraph.js' %}" type="module"></script>
</div>
