{% load static %}

<link rel="stylesheet" href="{% static 'css/generalSiteStyles.css' %}">
<link rel="stylesheet" href="{% static 'css/tempprofile.css' %}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>


<div id="formWrapper" style="text-align:center;">
    {# Header and information about the query #}
    <h1>Temperature Profile</h1>
    <p>
        <em>
            Temperature profile plots visualize temperature data with the depths and corresponding stratigraphic
            layers on the y-axis.
        </em>
    </p>

    <details>
        <summary>more info</summary>
            <div class="centered-left-list-parent">
                <ul class="centered-left-list">
                    <li>Each line represents a single day or week, depending on the range of time you've specified.</li>
                    <li>Querying outages may generate visualizations with unexpected contours.</li>
                    <li>Check if you've queried an outage <u><a class="link" href="{% url 'documentation' %}">here</a></u> if you're unsure about your plot's behavior.</li>
                </ul>
            </div>
    </details>
</div>


<!-- Graph code and canvas for housing the graph -->
<script src="{% static 'js/graphs/stratigraphyGraph.js' %}" type="module"></script>
<div class="container">
    <div class="viewer">
    {# the height attribute of the canvas defines how tall the graph displays on the page #}
    <canvas id="ctx" height="300"></canvas>
    <!-- Buttons for downloading the data as a CSV and the graph as an image -->
    <script src="{% static 'js/utils/createCsv.js' %}"></script>
    <button class="btn btn-secondary submit-button" onclick="downloadData('temperature_profile')">Download data</button>
    <button class="btn btn-secondary submit-button" id="downloadImage" onclick="window.downloadGraphImage('temperature_profile')">Download graph</button>
    </div>
</div>
