{% extends 'dashboard/base.html' %}

{% block css %}
    {{ block.super }}

    <!--daterangepicker package files-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% load static %}

    <!--daterangepicker package files-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="{% static 'loadingWheel.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

{% endblock %}

{% block header %}
    <h1>Temperature vs. Depth</h1>
{% endblock %}

{% block content %}
    <button type="button" onclick="window.location.href='/'">Home</button>

    {% if queryData %}
    <details>
        <summary>See Data</summary>
            <div>
                {% for row in queryData %}
                    <div>{{ row }}</div>
                {% endfor %}
            </div>
    </details>
    {% endif %}


    {% if queryData %}
    {% load static %}

    <script src="{% static 'tempVsDepthGraph.js' %}" type="module"></script>
    <script>
        var graphData = {{ graphData | safe}};
    </script>
    <div class="container">
        <canvas id="tempvsdepthgraph"></canvas>
    </div>

    <div id="graph" style="width:100%;height:500px"></div>
    {% endif %}



    <form action="/tempvsdepth/" method="post">
        <br>
        {% csrf_token %}
        {{ form }}
        {# This script enables the fancy datetime picker #}

        <script type="text/javascript">
            $(function() {
                var disabledRanges = [];
                {% for range in outageList %}
                    disabledRanges.push({ start: '{{ range.startDate }}', end: '{{ range.endDate }}' });
                {% endfor %}
                $('#id_timestamp').daterangepicker({
                    singleDatePicker: true,
                    minDate: "{{ dataStartDate }}",
                    maxDate: "{{ dataEndDate }}",
                    isInvalidDate: function(date) {
                        for (var i = 0; i < disabledRanges.length; i++) {
                            if (date >= moment(disabledRanges[i].start) && date <= moment(disabledRanges[i].end)) {
                                return true;
                            }
                        }
                        return false;
                    },

                });
            });
        </script>
        <div>
            <input type="submit" value="Submit">
            <button type="button">Download</button>
        </div>
    </form>

    <form action="/tempvsdepth/download" method="post">
        {% csrf_token %}
        {{ form }}
        {# This script enables the fancy datetime picker #}

        <script type="text/javascript">
            $(function() {
                // the id in this function must be different than the id from the function above
                $('#id_timestamp2').daterangepicker({
                    singleDatePicker: true,
                    minDate: "{{ dataStartDate }}",
                    maxDate: "{{ dataEndDate }}",
                });
            });
        </script>
        <div>
            <input type="submit" value="Download">
        </div>
    </form>
{% endblock %}
