{% load static %}

<link rel="stylesheet" href="{% static 'css/generalSiteStyles.css' %}">
<link rel="stylesheet" href="{% static 'css/tempprofile.css' %}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<!-- Graph code and canvas for housing the graph -->
<script src="{% static 'js/graphs/stratigraphyGraph.js' %}" type="module"></script>
<div class="container">
    <div class="viewer" >
    <!-- Buttons for downloading the data as a CSV and the graph as an image -->
    <div style="margin-bottom: 1ch;">

        <script src="{% static 'js/utils/createCsv.js' %}"></script>
        <button class="btn btn-secondary submit-button" onclick="downloadData('temperature_profile')">Download data</button>
        <button class="btn btn-secondary submit-button" id="downloadImage" onclick="window.downloadGraphImage('temperature_profile')">Download graph</button>
        {% comment %}
        <button class="btn submit-button" id="see-stratigraphy" onclick="$('.stratigraphy-container').toggle()" style="background-color: var(--custom-black); color: var(--custom-cream);padding:0px">ⓘ see stratigraphy</button>
        <div class="stratigraphy-container" style="display:none; text-align: center; margin-left:30%;margin-right:50%;">
            <h5>Stratigraphy</h5>
            <img src="{% static 'img/stratigraphy_placeholder.png' %}" alt="Map of baldspot boreholes" width="95%" >
            <p>This is the stratigraphy from borehole ... </p>
        </div>
        {% endcomment %}
    </div>

    {# the height attribute of the canvas defines how tall the graph displays on the page #}
    <canvas id="ctx"></canvas>
    </div>
</div>
