<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>


{% load static %}
<link rel="stylesheet" href="{% static 'css/tempprofile.css' %}">

<div id="formWrapper" style="text-align:center;">
    {# Header and information about the query #}
    <h1>Stratigraphy</h1>
    <p>
        <em>
            Stratigraphy plots visualize temperature data with the depths and corresponding stratigraphic
            layers on the y-axis.
        </em>
    </p>

    <details>
        <summary>more info</summary>
            <div class="list-parent">
                <ul>
                    <li>Stratigraphy plots are fun..... </li>
                    <li>One thing that's important to know is that .....</li>
                    <li>One thing that's important...</li>
                </ul>
            </div>
    </details>
</div>

<button onclick="downloadData('stratigraphy')">Download data</button>
<button id="downloadImage" onclick="window.downloadGraphImage('stratigraphy')">Download graph</button>

<!-- Graph code and canvas for housing the graph -->
<script src="{% static 'js/graphs/stratigraphyGraph.js' %}" type="module"></script>
<div class="container">
    <canvas id="ctx"></canvas>
</div>

<!-- Buttons for downloading the data as a CSV and the graph as an image -->
<script src="{% static 'js/utils/createCsv.js' %}"></script>
