{% extends 'dashboard/base.html' %}

{% block css %}

    {{ block.super }}

    <!--daterangepicker package files-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <!--daterangepicker package files-->
    {% load static %}
    {% comment %} <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
    <script type="text/javascript" src="{% static 'loadingWheel.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}

{% block header %}
    <h1>Temperature vs. Time</h1>
{% endblock %}




{% block content %}
    <button type="button" onclick="window.location.href='/'">Home</button>

    {% if queryData %}
    <details>
        <summary>See Data</summary>
            <div>
                {% for row in queryData %}
                    <div>{{ row }}</div>
                {% endfor %}
            </div>
    </details>


    <div>
        <script>
            function downloadData() {
                var queryData = {{queryData}}
                response = HttpResponse(
                content_type="text/csv",
                headers={
                    "Content-Disposition": 'attachment; filename="tempVsTimeDownload.csv"'
                },
                )

                writer = csv.writer(response)
                writer.writerow(
                    [
                        "channel_id",
                        "measurement_id",
                        "datetime_utc",
                        "data_id",
                        "temperature_c",
                        "depth_m",
                    ]
                )
                for (const dictionary in queryData){
                    writer.writerow(dictionary.values())
                }

                return response

                }

            </script>
        <button onclick="downloadData()">Download data</button>
    </div>

    {% endif %}


    {% if queryData %}

    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'tempVsTimeGraph.js' %}" type="module"></script>
    <script>
        var series1 = {{ graphData|safe}};
    </script>


    <div id="graph" style="width:100%;height:500px"></div>
    {% endif %}



    <form action="/tempvstime/" method="post" id="tempvstimeform">
        <br>
        {# Django requires this token statement #}
        {% csrf_token %}

        {{ form }}

        <script type="text/javascript">
            $(function() {

                var start = moment().subtract(29, 'days');
                var end = moment();


                function cb(start, end) {
                    $('#id_dateRange').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                var disabledRanges = [];
                {% for range in outageList %}
                    disabledRanges.push({ start: '{{ range.startDate }}', end: '{{ range.endDate }}' });
                {% endfor %}
                $('#id_dateRange').daterangepicker({

                    isInvalidDate: function(date) {
                        for (var i = 0; i < disabledRanges.length; i++) {
                            if (date >= moment(disabledRanges[i].start) && date <= moment(disabledRanges[i].end)) {
                                return true;
                            }
                        }
                        return false;
                    },
                    minDate: "{{ dataStartDate }}",
                    maxDate: "{{ dataEndDate }}",
                    ranges: {
                    'Last 7 Available Days': [moment("20220904").subtract(6, 'days'), moment()],
                    'Last 30 Available Days': [moment("20220904").subtract(29, 'days'), moment()],
                    'Last 3 Available Months': [moment("20220904").subtract(3, 'months'), moment()],
                    'Last Available Year': [moment("20220904").subtract(1, 'years'), moment()]
                    },

                }, cb);

                cb(start, end);

            });
        </script>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
    <div id="loading-wheel-box" class="text-center mt-3" style="display:none;">
        <div id="loading-wheel">
            <img src="https://d31kydh6n6r5j5.cloudfront.net/wp-content/themes/standard-theme/images/spinners/c-ray-spinner-2x.gif" alt="Loading...">
        </div>
    </div>



{% endblock %}
